* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    -webkit-user-drag: none;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: #EBF2FF;
}

img {
    width: 100%;
    height: 64px;
    margin-bottom: 10px;
    object-fit: contain;
}

h6 {
    margin: 2px;
}


.blue {
    color: #6991F3;
}

.green {
    color: #1BC370;
}

.yellow {
    color: #F9BB74;
}

.weather-card {
    background: #fff;
    min-width: 96px;
    height: 156px;
    border-radius: 18px;
    -webkit-user-drag: none;
    user-select: none;
    padding-top: 16px;
    font-size: 12pt;
    margin: 8px;
    transition: all 0.3s ease;
}

.weather-card:hover {
    color: #fff;
    background: #FF6AA1;
}

.current-day {
    color: #fff;
    background: #6991F3;
    background: -webkit-linear-gradient(to right, #86a8ff, #6991F3);
    background: linear-gradient(to right, #86a8ff, #6991F3);
}

.bar {
    background: linear-gradient(0deg, #EBF2FF, #EBF2FF);
    background-size: 5px 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 133px;
    width: 7px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-left: 3px;
    margin-right: 3px;
}

.rain-fill {
    background: #6991F3;
    border-radius: 32px;
    width: 7px;
}

.sun-fill {
    background:#F9BB74;
    border-radius: 32px;
    width: 7px;
    margin-top: 3px;
}

.btn {
    background: #F6F8FF;
    color: #8BABE8;
    border-radius: 12px;
    font-size: 12pt;
}

.air-card h5 {
    font-size: 12pt;
    font-weight: 700;
    margin: 2pt;
}
.air-card h6 {
    font-size: 10pt;
    margin: 2pt;
}

.h1 {
    color: #6991F3;
    font-size: 42pt;
    font-weight: 500;
    margin: 1pt;
}

.h2 {
    color: #6991F3;
    font-weight: 500;
    font-size: 24pt;
}

.h5 {
    font-size: 14pt;
    margin: 3pt;
    font-weight: 700;
}

.h6 {
    font-size: 14pt;
    margin: 3pt;
}

.gray-text {
    color: #a4a4af;
    font-size: 10pt;
    margin: 2pt;
}

.gone {
    display: none;
}


.white-text {
    color: #fff;
    margin: 2pt;
    white-space: nowrap;
    font-size: 12pt;
}

.air-card {
    text-align: center;
    background: #F0FFF5;
    color: #1BC370;
    min-width: 52px;
    max-width: 100px;
    padding: 8px 0px;
    margin: 4px;
    border-radius: 12px;
    transition: all 0.3s;
}

.air-card:hover {
    color: #F0FFF5;
    background: #1BC370;
}

.cd {
    padding: 24px;
    background: #fff;
    border-radius: 18px;
    min-width: 380px;
    max-width: 500px;

}

.cdy {
    border-radius: 12px;
    background: #fff;
    padding: 5px;
    transition: all 0.3s;
}

.search {
    background: #EBF2FF;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
}

.ci-b {
    border-radius: 50%; 
    background: #fff; 
    padding: 5px;
    width: 30px;
    height: 24px;
    text-align: center;
}

.search-input {
    min-width: 80px;
    background: none;
    border:none;
    outline: none;
    white-space: nowrap;
}

.w-card {
    border-radius: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-position: bottom;
    min-width: 250px;
    max-width: 320px;
    box-shadow: 0 2px 24px 0 rgba(16, 17, 17, 0.1);
}

.w-card img {
    height: 96px;
}

.avatar {
    height: 48px;
    width: 48px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 2px 24px 0 rgba(16, 17, 17, 0.3);
}

.side-panel {
    background-color: #fff;
}

.side {
    height: 100vmin;
    overflow-y:auto;
}

@media only screen and (min-width: 992px) {
    .side-lg {
        height: 100vmin;
        overflow-y:auto;
    }
}

/* Navigation Bar */

.navi {
    background: #6991F3;
    width: fit-content;
    height: fit-content;
    border-radius: 0 12px 12px 0;
    position: fixed;
    top: 25%;
    box-shadow: 0 0 32px 0 #4e6bb4c5;
}

.nav-item {
    padding-top: 18px;
    background: #6991F3;
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    color: #fff;
    font-size: 16pt;
    transition: all 0.3s;
}

.nav-item:first-child {
    border-radius: 0 18px 0 0;
}

.nav-item:last-child {
    border-radius: 0 0 18px 0;
}

.nav-item:hover{
    background: #3a60c0;
}

.active {
    background:#FF6AA1;
}

.navbar {
    margin-right: 5px;
    width: 84px;
}

.navbar-nav {
    border-radius: 0 18px 18px 0;
    box-shadow: 0 0 18px 1px #3a60c096;
}

.navicon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    filter: invert(100%);
}

.current {
    background:#FF6AA1;
}


/* Theme Toggle Switch */

.knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toggle-switch {
    position: relative;
    top: 50%;
    width: 84px;
    height: 48px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ffffff;
    transition: all 0.3s;
    border-radius: 24px;
    z-index: 1;
}

#theme-switch .knobs:before, #theme-switch .knobs:after, #theme-switch .knobs span {
    position: absolute;
    top: 4px;
    width: 40px;
    height: 40px;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 11px;
    border-radius: 50%;
    transition: 0.3s ease all;
}

#theme-switch .knobs:before {
    content: '';
    left: 5px;
    background-color: #6991F3;
}

#theme-switch .knobs:after {
    font-family: "FontAwesome";
    content: '\f186';
    right: 2px;
    color: #a4a4af;
}

#theme-switch .knobs span {
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#theme-switch .checkbox:checked + .knobs span {
    color: #a4a4af;
}

#theme-switch .checkbox:checked + .knobs:before {
    left: 40px;
}

#theme-switch .checkbox:checked + .knobs:after {
    color: #fff;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6991F3;
}